.app-header {
  padding: 20px !important;
  text-align: center;
  border-bottom: 1px solid #fff !important;

  &-title {
    font-size: 40px !important;
    color: #ffffff !important;

    @include media('<=desktop') {
      font-size: 30px !important;
    }
  }
}
